.bgColor {
    background-image: url("../assets/img/slideImage2.jpg");
    background-size: cover;
    opacity: 85%;
}

.btnColor {
    background-color: hwb(37 7% 5%);
}

body {
    margin: 65px;
    background-color: #000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

#btn_Register {
    text-decoration: none;
    color: white;

}
#circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background-color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700px;
    margin: 50% 40px;
    margin-left:30%;
    margin-bottom: 10%;
    color: #000000;
    box-shadow:auto;
}

body {
    font-family:1Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image:  linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bootstrap/cust/slideImage2.jpg);
            background-size: 100%;
            background-size: cover;
            background-position: center;
}
        
.container {
background-color: #000000;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
text-align: center;
padding: 20px;
opacity: 75%;

}

h3 {
font-size: 24px;
color: #fff;
}
.form{
display: flex;
flex-direction: column;
gap: 10px;

}
label {
font-weight: bold;
color: #fff;
}

input {
padding: 5px;
border: 1px solid #009688;
border-radius: 5px;
}
button {
background-color: #fff;
color: #009688;
padding: 10px;
border: olive;
border-radius: 5px;
font-weight: bold;
cursor: pointer;
}
.home-link {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}        
a {
text-decoration: none;
color: #fff;
border: solid;
border-radius: 25px;
padding-left: 5px;
padding-right: 5px;
}
.home-link p {
color: #fff;
}